import(QuasR)

import(methods)
import(zlibbioc)
import(corrplot)
import(aqfig)
import(parallel)

import(GenomicRanges)
importFrom(GenomeInfoDb, seqlengths)
importFrom(BiocInstaller, biocLite)
importFrom(GenomicFiles, reduceByYield, REDUCEsampler)
import(S4Vectors)
import(IRanges)
importFrom(Biobase, createPackage, testBioCConnection)
import(Biostrings)
import(BSgenome)
import(ShortRead)
import(GenomicFeatures)
importFrom(GenomicAlignments, readGAlignments)
importFrom(rtracklayer, wigToBigWig)
import(BiocParallel)

export(damid.seq)
